aiodns==1.1.1
aiohttp==3.6.3
appdirs==1.4.4
asciimatics==1.11.0
async-timeout==3.0.1
attrs==20.2.0
ccxt==1.36.51
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
distlib==0.3.1
filelock==3.0.12
future==0.18.2
idna==2.10
multidict==4.7.6
Pillow==8.0.0
pycares==3.1.1
pycparser==2.20
pyfiglet==0.8.post1
requests==2.24.0
six==1.15.0
urllib3==1.25.10
virtualenv==20.0.35
wcwidth==0.2.5
yarl==1.1.0
